.PhotoGallery {
  @media (max-width: 600px) {
    padding-top: 30vh;
  }

  a {
    color: darkgray;
    font-size: 0.875rem;
    text-decoration: none;

    &:hover {
      color: gainsboro;
      text-decoration: underline;
    }
  }
}
